<!DOCTYPE html>
<html>
<head>
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-1320802435531163",
    enable_page_level_ads: true
  });
</script>
	
<meta charset="utf-8">
<meta name="viewport" content="width=1024,height=720,initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='suc1.css')}}"></link></head>
<body>
{% if name|length >=1 %}
<h1>Happy New Year {{name}} </h1>
<p>My best wishes for you,
Great start for Jan,
Love for Feb,
peace for March,
No worries for April,
fun for May,
Joy for June to Nov,
Happiness for Dec.
Have a lucky and wonderful 2019</p>
{% else %}
<p>Failed to Generate any output as input box was empty</p>
{% endif %}
</body>
</html>
