<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<head>

	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='suc1.css')}}"></link></head>
<body>
{% if name|length >1 %}
<
<h1>Happy New Year {{name}} </h1>
<p>My best wishes for you,
Great start for Jan,
Love for Feb,
peace for March,
No worries for April,
fun for May,
Joy for June to Nov,
Happiness for Dec.
Have a lucky and wonderful 2019</p>
<p1>-By Maneesh</p1>
{% else %}
<p>Failed to Generate any output</p>
{% endif %}
</body>
</html>